@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
}

.container {
    margin: 10px;
}

.showcase {
    position: relative;
    background-color: #dbe0da;
    color: #3d423b;
    margin-bottom: 20px;
    height: 95vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;

    .hamburger {
        position: absolute;
        top: 4%;
        right: 7%;
        font-size: 30px;
        color: #3d423b;
        z-index: 3;

        @include laptop {
            display: none;
        }
    }

    .navbar {
        @include laptop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 40px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;

            @include min-4k {
                padding: 20px 200px
            }
        }

        .logo,
        .btn {
            display: none;

            @include laptop {
                display: block;
            }
        }

        .btn {
            letter-spacing: 2px;
            text-transform: uppercase;
            border: 1px solid #3d423b;
            padding: 6px 10px;
            transition: 0.3s;

            &:hover {
                background-color: #3d423b;
                color: #dbe0da;
            }
        }

        .logo {
            font-weight: bold;
            font-size: 2rem;
            flex-basis: 65%;
            text-align: left;

            @include desktop {
                flex-basis: 75%;
            }

            @include min-4k {
                flex-basis: 85%;
            }
        }

        .fas {
            position: absolute;
            color: #fff;
            top: 25px;
            right: 25px;
            font-size: 30px;
            z-index: 5;

            @include laptop {
                display: none;
            }
        }

        nav {
            background-color: #3d423b;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 250px;
            text-align: center;
            border-radius: 0 0 0 20%;
            transform: translateY(-250px);
            transition: 0.6s;
            z-index: 3;

            @include laptop {
                transform: translateY(0);
                position: static;
                height: auto;
                border-radius: 0;
                background-color: transparent;
                justify-self: flex-end;
            }

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @include laptop {
                    flex-direction: row;
                    list-style: none;
                }

                li {
                    margin-bottom: 15px;

                    @include laptop {
                        margin-bottom: 0;
                    }

                    a {
                        color: #fff;
                        text-transform: uppercase;
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 700;
                        letter-spacing: 2px;

                        @include laptop {
                            font-size: 16px;
                            margin-left: 15px;
                            font-weight: initial;
                            color: #3d423b;
                            margin-bottom: 5px;

                            &:hover {
                                border-bottom: 1px solid #3d423b;
                            }
                        }
                    }
                }
            }
        }

        nav.active {
            transform: translateY(0);
        }
    }

    img {
        position: absolute;
        top: -15%;
        left: -20%;
        z-index: -1;
    }

    .showcase-heading {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 4px;

        @include laptop {
            font-size: 7rem;
        }
    }

    .showcase-sub-title {
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        font-size: 1.5rem;
    }

    .showcase-sub-title::before {
        content: "";
        width: 60px;
        height: 6px;
        background-color: #3d423b;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }
}

section {
    .section-title {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 60px;
        font-weight: 400;

        &::before {
            content: "";
            width: 80px;
            height: 4px;
            background-color: #3d423b;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.articles {
    background-color: #f2f4f1;
    padding: 60px 0 40px;

    @include tablet {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include laptop {
        padding: 60px 40px 40px;
    }

    @include min-4k {
        padding: 160px 200px 140px
    }

    .articles-wrapper {
        @include laptop {
            display: flex;
            justify-content: space-between;
        }
    }

    .card {
        margin-bottom: 20px;

        @include laptop {
            flex-basis: 32%;
            border: 1px solid #fff;
        }

        .card-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 220px;

            @include laptop {
                height: 340px;
            }
        }

        .card-text {
            background-color: #fff;
            text-align: center;
            height: 220px;
            padding: 20px;
            font-size: 2rem;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            @include laptop {
                font-size: 1.5rem;
                padding-top: 40px;
                height: 340px;
            }

            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: #3d423b;
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);

                @include laptop {
                    top: 30%;
                }
            }
        }
    }

    .card-1 .card-image {
        background-image: url(../img/plantMobile.jpg);
    }

    .card-2 .card-image {
        background-image: url(../img/plant1Mobile.jpg);
    }

    .card-3 .card-image {
        background-image: url(../img/walkMobile.jpg);
    }
}

// about

.about {
    .about-wrapper {
        padding-bottom: 40px;

        @include tablet {
            display: flex;
            align-items: center;
            padding-bottom: 0;
        }
    }

    .about-img {
        height: 220px;
        background-image: url(../img/aboutMobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;

        @include tablet {
            flex-basis: 50%;
            height: 500px;
            margin-bottom: 0;
        }

        @include min-4k {
            height: 800px;
        }


    }

    .about-text {
        line-height: 1.5;
        padding: 0 10px;
        text-align: justify;
        font-size: 18px;

        @include tablet {
            flex-basis: 50%;
            padding: 20px 40px;
        }

        @include laptop {
            padding: 20px 60px;
        }

        @include min-4k {
            padding: 120px 200px 120px 80px;
        }
    }
}

// subscribe

.subscribe {
    padding: 60px 0 80px;
    background-color: #dfe4de;
    text-align: center;

    @include tablet {
        padding-left: 100px;
        padding-right: 100px;
    }

    @include min-4k {
        padding: 280px 200px;
    }

    .section-title {
        margin-bottom: 5px;
    }

    .section-title::before {
        display: none;
    }

    .subscribe-text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    form {
        padding: 0 10px;
        display: flex;
        flex-direction: column;

        @include laptop {
            width: 400px;
            margin: 0 auto;
        }

        @include min-4k {
            width: 1200px;
        }

        input {
            font-size: 1rem;
            margin-bottom: 20px;
            border: none;
            padding: 14px 8px;
            background-color: #eff1ee;
            color: #3d423b;
            font-family: "Jost", sans-serif;
        }

        .submit-btn {
            font-size: 1.5rem;
            padding: 8px;
            background-color: #dfe4de;
            border: 1px solid #3d423b;
            text-transform: uppercase;
            letter-spacing: 2px;

            &:hover {
                border-color: #fff;
            }

            @include laptop {
                width: 150px;
                margin: 0 auto;
            }
        }
    }
}

// footer

.footer {
    padding: 60px 0 40px;

    @include laptop {
        display: flex;
        justify-content: space-between;
        padding: 60px 40px 40px;
    }

    @include min-4k {
        padding: 160px 200px 140px;
    }

    .footer-nav {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        @include laptop {
            flex-wrap: nowrap;
            order: 2;
        }

        a {
            flex-basis: 60%;
            color: #3d423b;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px;
            margin-bottom: 5px;
            letter-spacing: 2px;
            font-weight: 700;
            transition: 0.3s;

            &:hover {
                background-color: #3d423b;
                color: #dfe4de;
            }

            @include laptop {
                flex-basis: auto;
            }
        }
    }

    .social-links {
        width: 180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        @include laptop {
            margin-left: 0;
        }

        .link {
            height: 40px;
            width: 40px;

            text-align: center;
            position: relative;

            a {
                color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                line-height: 40px;
                background-color: #3d423b;
                border-radius: 50%;
                transition: 0.2s;

                &:hover {
                    background-color: #dfe4de;
                    color: #3d423b;
                }
            }
        }
    }
}