* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
}

.hamburger {
    position: absolute;
    top: 4%;
    right: 7%;
    font-size: 30px;
    color: #3d423b;
    z-index: 2;
}

.container {
    margin: 10px;
}

.showcase {
    position: relative;
    background-color: #dbe0da;
    color: #3d423b;
    margin-bottom: 20px;
    height: calc(100vh - 10px);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 1;

    .navbar {
        display: none;
    }

    img {
        position: absolute;
        top: -15%;
        left: -20%;
        z-index: -1;
    }

    .showcase-heading {
        text-transform: uppercase;
        font-size: 3rem;
        font-weight: 700;
        letter-spacing: 4px;
    }

    .showcase-sub-title {
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        font-size: 1.5rem;

    }

    .showcase-sub-title::before {
        content: "";
        width: 60px;
        height: 6px;
        background-color: #3d423b;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

}

section {


    .section-title {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 60px;
        font-weight: 400;

        &::before {
            content: "";
            width: 80px;
            height: 4px;
            background-color: #3d423b;
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}

.articles {
    background-color: #f2f4f1;
    padding: 60px 0 40px;

    .card {

        margin-bottom: 20px;

        .card-image {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 220px;
        }

        .card-text {
            background-color: #fff;
            text-align: center;
            height: 220px;
            padding: 20px;
            font-size: 2rem;
            text-transform: capitalize;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: #3d423b;
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    .card-1 .card-image {
        background-image: url(../img/plantMobile.jpg);
    }

    .card-2 .card-image {
        background-image: url(../img/plant1Mobile.jpg);
    }

    .card-3 .card-image {
        background-image: url(../img/walkMobile.jpg);
    }

}

// about

.about {

    .about-wrapper {
        padding-bottom: 40px;
    }

    .about-img {
        height: 220px;
        background-image: url(../img/aboutMobile.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 60px;
    }

    .about-text {
        line-height: 1.5;
        padding: 0 10px;
        text-align: justify;
        font-size: 18px;
    }
}

// subscribe

.subscribe {
    padding: 60px 0 80px;
    background-color: #dfe4de;
    text-align: center;

    .section-title {
        margin-bottom: 5px;
    }

    .section-title::before {
        display: none;
    }

    .subscribe-text {
        font-size: 20px;
        margin-bottom: 20px;
    }

    form {
        padding: 0 10px;
        display: flex;
        flex-direction: column;

        input {
            font-size: 1rem;
            margin-bottom: 10px;
            border: none;
            padding: 14px 8px;
            background-color: #eff1ee;
            color: #3d423b;
        }

        .submit-btn {
            font-size: 1.5rem;
            padding: 8px;
            background-color: #dfe4de;
            border: 1px solid #3d423b;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}

// footer

.footer {
    padding: 60px 0 40px;

    .footer-nav {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 20px;

        a {
            flex-basis: 60%;
            color: #3d423b;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px;
            margin-bottom: 5px;
            letter-spacing: 2px;
            font-weight: 700;


        }
    }

    .social-links {
        width: 180px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        .link {
            height: 40px;
            width: 40px;

            text-align: center;
            position: relative;

            a {
                color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                line-height: 40px;
                background-color: #3d423b;
                border-radius: 50%;
                transition: .2s;

                &:hover {
                    background-color: #dfe4de;
                    color: #3d423b;
                }
            }
        }
    }
}