* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

.container {
  margin: 10px;
}

.showcase {
  position: relative;
  background-color: #dbe0da;
  color: #3d423b;
  margin-bottom: 20px;
  height: calc(100vh - 10px);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 1;
}

.showcase .hamburger {
  position: absolute;
  top: 4%;
  right: 7%;
  font-size: 30px;
  color: #3d423b;
  z-index: 3;
}

.showcase .navbar nav {
  background-color: #3d423b;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 250px;
  text-align: center;
  border-radius: 0 0 0 20%;
  -webkit-transform: translateY(-250px);
          transform: translateY(-250px);
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 3;
}

.showcase .navbar nav .fas {
  position: absolute;
  color: #fff;
  top: 25px;
  right: 25px;
  font-size: 30px;
  z-index: 5;
}

.showcase .navbar nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.showcase .navbar nav ul li {
  margin-bottom: 15px;
}

.showcase .navbar nav ul li a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.showcase .navbar nav.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.showcase .logo {
  display: none;
}

.showcase .btn {
  display: none;
}

.showcase img {
  position: absolute;
  top: -15%;
  left: -20%;
  z-index: -1;
}

.showcase .showcase-heading {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 4px;
}

.showcase .showcase-sub-title {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  font-size: 1.5rem;
}

.showcase .showcase-sub-title::before {
  content: "";
  width: 60px;
  height: 6px;
  background-color: #3d423b;
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section .section-title {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 60px;
  font-weight: 400;
}

section .section-title::before {
  content: "";
  width: 80px;
  height: 4px;
  background-color: #3d423b;
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.articles {
  background-color: #f2f4f1;
  padding: 60px 0 40px;
}

.articles .card {
  margin-bottom: 20px;
}

.articles .card .card-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
}

.articles .card .card-text {
  background-color: #fff;
  text-align: center;
  height: 220px;
  padding: 20px;
  font-size: 2rem;
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.articles .card .card-text::after {
  content: "";
  width: 40px;
  height: 2px;
  background-color: #3d423b;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.articles .card-1 .card-image {
  background-image: url(../img/plantMobile.jpg);
}

.articles .card-2 .card-image {
  background-image: url(../img/plant1Mobile.jpg);
}

.articles .card-3 .card-image {
  background-image: url(../img/walkMobile.jpg);
}

.about .about-wrapper {
  padding-bottom: 40px;
}

.about .about-img {
  height: 220px;
  background-image: url(../img/aboutMobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 60px;
}

.about .about-text {
  line-height: 1.5;
  padding: 0 10px;
  text-align: justify;
  font-size: 18px;
}

.subscribe {
  padding: 60px 0 80px;
  background-color: #dfe4de;
  text-align: center;
}

.subscribe .section-title {
  margin-bottom: 5px;
}

.subscribe .section-title::before {
  display: none;
}

.subscribe .subscribe-text {
  font-size: 20px;
  margin-bottom: 20px;
}

.subscribe form {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe form input {
  font-size: 1rem;
  margin-bottom: 10px;
  border: none;
  padding: 14px 8px;
  background-color: #eff1ee;
  color: #3d423b;
}

.subscribe form .submit-btn {
  font-size: 1.5rem;
  padding: 8px;
  background-color: #dfe4de;
  border: 1px solid #3d423b;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer {
  padding: 60px 0 40px;
}

.footer .footer-nav {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.footer .footer-nav a {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  color: #3d423b;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 700;
}

.footer .social-links {
  width: 180px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .social-links .link {
  height: 40px;
  width: 40px;
  text-align: center;
  position: relative;
}

.footer .social-links .link a {
  color: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  line-height: 40px;
  background-color: #3d423b;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer .social-links .link a:hover {
  background-color: #dfe4de;
  color: #3d423b;
}
/*# sourceMappingURL=style.css.map */